#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .header_logo{
        width: 80px;
        height: 80px;
        font-size: 16px;

         & img{
            width: 100%;
            border-radius: 100%;
        }
    }
    .header_nav{
        &-item{
            display: inline-flex;
            gap:4px;
            margin-right: 16px;
        }
    }
    .header_search{
        display: flex;
        align-items: center;
        flex-basis: 40%;
        background-color:rgba($color: #ffffff, $alpha: 0.8);
        border-radius: 20px;
        padding: 4px;
        
        input{
            border:none;
            outline: none;
            background: transparent;
        }
    }
    .header_auth{
        display: flex;
        gap: 16px;
        &-register{
            position: relative;
            .register__form{
                position: absolute;
                top: calc(100% + 10px);
                width: 500px;
                right: 0;
                
                .form-header{
                    font-size: $text-2xl;
                    font-weight: $font-bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: $primary;
                    padding:16px;
                    text-transform: uppercase;
                    width: 100%;

                }
                .form_body{
                    background-color: #ffffff;
                    padding:6px 12px;
                    &-group{
                        width: 100%;
                        margin-bottom: 16px;
                        input{
                            width: 100%;
                            padding:8px 12px;
                            background-color: $gray-200;
                            border-radius: 24px;
                            outline: none;
                            border: none;
                        }
                    }
                    &-group:first-child{
                        display: flex;
                        gap:16px;
                    }
                    .birtday{
                        display: flex;
                        align-items: center;
                        gap:16px;
                        input{
                            flex-grow: 1;
                            padding:8px 12px;
                            background-color: $gray-200;
                            border-radius: 24px;
                            outline: none;
                            border: none;
                        }
                    
                    }
                    .gender{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        
                        select{
                            padding:8px 12px;
                            background-color: $gray-200;
                            border-radius: 24px;
                            outline: none;
                            border: none;
                            flex:1;
                        }
                    }
                 
                
                   
                }
            }
         
        }
        &-login{
            position: relative;

            .login__form{
                position: absolute;
                top: calc(100% + 10px);
                width: 500px;
                right: 0;
                &__header{
                    font-size: $text-2xl;
                    font-weight: $font-bold;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: $primary;
                    padding:16px;

                }
                &__body{
                    background-color: $white;
                    padding:12px;

                    .form__group{
                        width: 100%;
                        margin-bottom: 16px;
                        input{
                            width: 100%;
                            padding:8px 12px;
                            background-color: $gray-200;
                            border-radius: 24px;
                            outline: none;
                            border: none;
                        }
                       
                    }
                    .register__now{
                        span{
                            text-decoration: underline;
                            color:blue;
                            cursor: pointer;
                        }
                    }
                }

            }

        }
    }

}
